header{

    background-color: #b3cee0;
    padding: .5rem;
    padding-right: 3rem;
    padding-left: 3rem;

    display: flex;
    align-items: baseline;
    justify-content: space-between;}


.JH-logo{width: 3rem;}

nav a{color:#273871;
  text-decoration: none;
margin:.1rem;
font-family: cursive;}


nav a:hover{color: #2671c6;
  text-decoration:underline;}


body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f0e9;}

main{
    background-color: #f5f0e9;
}

footer{

    background-color: #7f7f7f;
    padding: .5rem;
    text-align: center;
}

.title{background-color: #f5f0e9;
padding-top: 2rem;
padding-bottom: 2rem;}

/* HOME PAGE */

        .grid-container {
        display: grid;
        /* Creates two columns of exactly equal width */
        grid-template-columns: 1.5fr 1fr; 
        

        
        /* gap: 20px; */
        /* Optional: Adds space between the columns */}

        .column{
        /* Gives a visible boundary to see the equal heights */
        background-color:#adc8ce; 
        padding: 3rem;
        color: #f5f0e9;}

        .column2{padding: 0;}

        .pfp{width: 100%;
        height: 100%;
        object-fit: cover; /* Crops the image to fill the space without stretching */
        object-position: top; /* Centers the crop (can change to top, bottom, etc.) */
        display: block;  /* Removes default inline bottom spacing */
        }

        .pfp{height: 14cm;}


.content{justify-content: center;
    display: flex;
    align-items: stretch;
padding-top: 2rem;
padding-bottom: 2rem;}

.name{height: 3cm;
display: block;
  margin-left: auto;
  margin-right: auto;
  /* Optional: keeps the image from overflowing on small screens */
  max-width: 40%; 
  height: auto;}


.hnav{text-align: center;
margin-top: 3rem;
margin-bottom: 0rem;}  

.ah{padding: 0 3rem;}

  .lines{width: 60%;display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:1rem;
  margin-bottom: 0rem;
}



.WL1{padding: 1.5rem 3rem 0rem 3rem;}
.WL{padding: 0rem 3rem;}
.Welcome{background-color: #b7c8cd;
height: 10cm;
color: #f5f0e9;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

/* gallery page */

.title2{background-color:#f5f0e9;
padding: 1rem 6rem 1rem 6rem;
text-align: center;}

.galintro{padding-left: 7rem;
    padding-right: 7rem;}

.projects-gallery img{width: 6cm; height: 6cm; object-fit: cover;
border-radius: 5%;
    border-color: #212675;
    border: 2px solid;}
.projects-gallery figure{margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;}
    
.projects-gallery{display: flex;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 2rem;
margin: 0rem 2rem;
}

.projects-gallery a{text-align: center;
    text-decoration: none;
    color: #2c297f;}

    .projects-gallery a:hover{text-decoration: underline;
    color: #4f5a89;}
figcaption{margin-top: .3rem;}


/* Contact */

.contactintro{padding: 4rem;
    margin: 4rem 12rem 12rem 12rem;
background-color: #b5cdd8;
  /* Semi-transparent background */

  border-radius: 20px;
  
  /* The magic blur effect */
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px); 
  
  /* Subtle border that catches the light */
  border: 1px solid rgba(255, 255, 255, 0.6); 
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.05);}
